
<!-- Workshop -->
<ion-header>
  <ion-toolbar>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div style="text-align: center;">
    <ion-toolbar>
      <ion-title>About Me</ion-title>
    </ion-toolbar>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="assets/image/aboutme.jpg" class="picture"></ion-img>
        <div class="textformat">
          <h4>Name : Sasithorn Janwieng</h4>
          <h4>Nickname : Noon</h4>
          <h4>Email : 63160263@go.buu.ac.th</h4>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- Workshop -->