<!-- Example 5 -->

<ion-header>
  <ion-toolbar>
    <ion-title>BMI Calculator</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div style="text-align: center;">
    <ion-toolbar>
      <ion-title>BMI Calculator</ion-title>
    </ion-toolbar>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
       <ion-item>
        <ion-input label="Weight: " type="number" [clearInput]="true" placeholder="Enter weight (kg)" [(ngModel)]="weight"> </ion-input>
       </ion-item>
       <ion-item>
        <ion-input label="Height: " type="number" [clearInput]="true" placeholder="Enter height (m)" [(ngModel)]="height"> </ion-input>
       </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="text-align: center;">
    <ion-button id="res-alert" (click)="BMICal()">Calculator</ion-button>
    <ion-alert trigger="res-alert" header="Your BMI is" subHeader="{{ bmiLV }}" message="{{ bmi }}!" [buttons]="alertButton"
></ion-alert>
  </div>
</ion-content>
<!-- Example 5 -->